<!-- Author Section -->
    <section id="author">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading title">About the author</h2>
                    <h3>&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center author-image">
                    <img src="https://en.gravatar.com/userimage/28615225/c002e93315f50b0d56144309c08c9e8a.jpg?size=200" alt="Profile image of author"/>
                </div>
                <div class="col-md-8 text-muted author-description">
                    <p class="large">
                    <b>John Brett</b> is a software engineer who is passionate about new technologies, open source software, education, and travelling the world. Starting out in Ireland with a first class honours Bachelor's Degree in Computer Science and Software Engineering, he went on to join IBM through their premier internship Extreme Blue and later became part of the IBM Software Group focusing on collaboration software. There, John worked mainly with PHP, JavaScript and in his spare time with Node.js.
                    </p>
                    <p class="large">
                    Later, he moved to a growing SAAS company called D4H Technologies, leading the development of tools to aid emergency response teams around world, all from a lighthouse in Dublin, Ireland. Here, John got more exposure to Node.js and led D4H's first venture into Node.js using hapi.js, later joining the hapi.js core team.
                    </p>
                    <ul class="list-inline social-buttons text-center">
                    <li>
                        <a href="https://twitter.com/johnbrett_" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/johnbrett" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/johnbrett1" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://www.johnbrett.me" target="_blank"><i class="fa fa-home"></i></a>
                    </li>
                    <li>
                        <a href="mailto:hello@gettingstartedwithhapijs.com" target="_blank"><i class="fa fa-envelope-o"></i></a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>