<!-- Chapters Section -->
<section id="chapters">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Topics Covered</h2>
                <h3 class="section-subheading text-muted">&nbsp;</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <i class="fa fa-random fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Chapter One</h4>
                                <h4 class="subheading">Introducing hapi.js</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This first chapter serves as an introduction to hapi.js and some prerequisite learning of Node.js. It explains what hapi.js is, who created it, why it needs to exist, and how to create a simple hapi.js server.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <i class="fa fa-random fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Chapter Two</h4>
                                <h4 class="subheading">Adding Functionality by Routing Requests</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This the beginning of your journey of building applications with hapi.js. It will cover some basics, such as routing and building APIs, websites, and applications with hapi.js, and will also cover some differences in design compared to other Node.js-based frameworks.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <i class="fa fa-random fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Chapter Three</h4>
                                <h4 class="subheading">Structuring your Codebase with Plugins</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This chapter introduces the plugin API in hapi.js, which is one of its core features. It will walk you through how to simplify an application structure gracefully using plugins and also cover server orchestration using modules from the hapi.js ecosystem.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <i class="fa fa-random fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Chapter Four</h4>
                                <h4 class="subheading">Adding Tests and the Importance of 100% Code Coverage</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This chapter explores the importance of adding tests to an application. It will introduce you to some of the testing tools available in the hapi.js ecosystem and also guide you toward getting 100% code coverage with your tests.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <i class="fa fa-random fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Chapter Five</h4>
                                <h4 class="subheading">Security with Authentication and Authorization</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This chapter takes a deep dive into how authentication works in hapi.js with practical examples of different authentication protocols, including social logins. It also demonstrates scopes and how to use them</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <i class="fa fa-random fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Chapter Six</h4>
                                <h4 class="subheading">The joi of Reusable Validation</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This chapter deals with the topic of validation in applications using the joi validation library from the hapi.js ecosystem. It covers how to validate objects and route configurations and how to reuse this to generate documentation for applications.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <i class="fa fa-random fa-inverse"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Chapter Seven</h4>
                                <h4 class="subheading">Making Your Application Production Ready</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This chapter covers multiple topics to leave you ready to build your first application, such as integrating popular databases and adding caching and logging to applications to help scale an application as well as give it visibility when running in a production environment. It also covers a variety of other sources to continue learning more about hapi.js.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>