<!-- Header -->
<br>
<br>
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="book-cover-large">
                    <img alt="Picture of the cover of the book" src="https://gettingstartedwithhapijs.com/img/book_cover.jpg" width="100%" />
                </div>
            </div>
            <div class="col-sm-8">
                <div class="intro-text">
                    <div class="intro-heading">{{title}}</div>
                    <h1 class="intro-subheading">{{subheading}}</h1>
                    <br>
                    <div class="book-cover-mobile">
                        <img alt="Picture of the cover of the book" src="https://gettingstartedwithhapijs.com/img/book_cover.jpg" />
                    </div>
                    <br>
                    <a class="btn btn-xl" href="http://bit.ly/20TBtuG">Buy it on Packt</a>
                    <a class="btn btn-xl" href="http://amzn.to/1Ssd7YH">Buy it on Amazon</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Summary Section -->
<section id="summary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contained Inside...</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">7 Chapters</h4>
                <p class="text-muted">Each chapter is carefully crafted in the right order to take you on your journey to build production ready applications with hapi.js.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">30+ Code Examples</h4>
                <p class="text-muted">Learn by example, with more than 30 working examples you can run, modify and expand on. Each with a detailed explanation will help you get up to speed quickly. </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">156 Pages</h4>
                <p class="text-muted">Each page contains a wealth of information to give every reader an in depth knowledge of the inner workings of hapi.js and how to use it.</p>
            </div>
        </div>
    </div>
</section>